.about{
    color: #5E5959;  
    width: 100%;
    padding-bottom: 20px;
}

.info{
    display:flex;
    flex-direction: row;
    justify-content:center;
    gap: 200px;
    height: 200px;
}

.rabbit{
    padding-top: 35px;
    width: 150px;
    height: 100px;
}

.cash{
     width: 130px;
    height: 115px;
    padding-top: 20px;
}

.caption{
    background-color:#FCFBF9;
    width: 100%;
    box-shadow: 1px 2px 6px 4px rgba(48, 117, 120, 0.2);
    margin-bottom: 40px;
}

#scroll-container{
    overflow: hidden;
    color: rgb(38, 26, 26);    
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
 
#scroll-text{
    -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-animation: my-animation 30s linear infinite;
  -webkit-animation: my-animation 30s linear infinite;
  animation: my-animation 30s linear infinite;
}

@keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  
}

#rabbit-icon{
    width: 30px;
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  }
  
.contact{
    display: flex;
    justify-content: center;
}

form{
    width: 35%;
}
.problem{
    height: 100px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .info{
        display:flex;
        flex-direction: row;
        justify-content:center;
        gap: 70px;
        height: 200px;
        font-size: x-small;
    }
    .rabbit{
        padding-top: 20px;
        width: 80px;
        height: 70px;
    }

    .cash{
         width: 100px;
        height: 75px;
        padding-top: 20px;
    }

    .caption{
        height: 50px;
        margin-bottom: 20px;
        font-size: x-small;
    }
    #scroll-container{
        font-size: x-small;
    }
     
    #scroll-text{
        -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      -moz-animation: my-animation 30s linear infinite;
      -webkit-animation: my-animation 30s linear infinite;
      animation: my-animation 30s linear infinite;
    }
    #rabbit-icon{
        width: 10px;
      height: 10px;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 10px;
      }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}