.about{
    color: #5E5959;  
    width: 100%;
    padding-bottom: 20px;
}

.info{
    display:flex;
    flex-direction: row;
    justify-content:center;
    gap: 200px;
    height: 200px;
}

.rabbit{
    padding-top: 35px;
    width: 150px;
    height: 100px;
}

.cash{
     width: 130px;
    height: 115px;
    padding-top: 20px;
}


/* 
.caption{
    background-color: transparent;
    width: 70%;
    height: 125px;
    perspective: 1000px;
}

.caption-card{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 30px;
}
  
.caption:hover .caption-card{
        transform: rotateY(180deg);
    }

.caption-front, .caption-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 30px;
}
  
  .caption-front {
    background-color: #B0C9CC; 
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
     
  }
  .caption-back {
    background-color: #B0C9CC;
    transform: rotateY(180deg);
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

 */

.caption{
    background-color:#FCFBF9;
    width: 100%;
    box-shadow: 1px 2px 6px 4px rgba(48, 117, 120, 0.2);
    margin-bottom: 40px;

}

#scroll-container{
    overflow: hidden;
    color: rgb(38, 26, 26);    
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
 
#scroll-text{
    -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-animation: my-animation 30s linear infinite;
  -webkit-animation: my-animation 30s linear infinite;
  animation: my-animation 30s linear infinite;
}

@keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  
}

#rabbit-icon{
    width: 30px;
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  }
  
.contact{
    display: flex;
    justify-content: center;
}

form{
    width: 35%;
}
.problem{
    height: 100px;
}