.about{
    color: #5E5959;  
    width: 100%;
    padding-bottom: 20px;
}
.info{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 400px;
   
    height: 250px;
}

.rabbit{
    padding-top: 35px;
}

.cash{
    padding-top: 10px;
}

.caption{
    margin: auto;
    width: 60%;
    text-align: center;
  
}

    