.account-comp{
  height: 80vh;
}
.account {
    display: flex;
    flex:1;
    height: 90%;   
    align-items: center;
    justify-content: center;
    text-align: center;
   
    }
    
.signUp-form{
      display: flex;
      flex-direction: column;
      width: 480px;
      padding: 16px;
      color: #5E5959;
      border-radius: 8px;
      background-color: rgba(246, 244, 244, 0.474);
      align-items: center;
    }
    
   .field {
      padding-bottom: 24px;
      padding-left: 40px;
      padding-right: 40px;
      display: flex;
      flex-direction: column;
      text-align: left;
    } 
    
    input{
      border-radius: 10px;
      border: 1px solid #ccc;
      height: 32px;
      padding: 0 8px;
      text-align: left;
      width: 100%;
    }
    
    .register{
      border-radius: 10px;
      height: 40px;  
      font-size: larger;
      background-color: #B0C9CC;
      width: 100px;
      text-align: center;
      border: none;
      color: #5E5959;
     
    }
