.footer{
    height: 100px;
    background-color: #B0C9CC;  
    width: 100%;
    color: white;
   
}

.footer img{
    height: 90px;
}

.row{
    width: 85%;
    margin: auto;
    display: flex;
   justify-content: center;
   align-items: center;
    
}

.col{
    flex-basis: 33%;
}

.col .social-icon{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}