/* 
.home {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
  } */

/*   .hero-image{
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: -1;
    height: 90vh;
    width: 100%;
    object-fit: contain;
  }
  
  .hero-image-blurred{
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: -2;
    height: 90vh;
    width: 100%;
    object-fit: cover;
    filter: blur(20px);
  } */
  
/* 
  .headerContainer {
    margin-top: 50px;
    position: relative;
    height: 90vh;
    aspect-ratio: 700/500; 
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-image: url("../assets/1400.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
  } */
  .hero-image{
    height: 650px;
    overflow: hidden;
  }

  .hero-image img{
    width: 100vw;
    height: 700px;
  }
  
  .headerContainer h1 {
    position: absolute;
    top: 300px;
    left: 400px;
    font-size: 60px;
    font-weight: 150px;
    color: #fcfbf9ef;
  }
  
  .headerContainer button {
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    justify-content: center;
    background-color: #44635F;
    height: 50px;
    width: 180px;
    font-size: 30px;
    
  }

  .shopnow{
    position:absolute;
    right:    0;
    left: 0;
    bottom:  100px;
  }
  
  .headerContainer button:hover {
    background-color: #F3F0EB;
    color: #44635F;
    cursor: pointer;
    transition: 0.3s ease-in;
  }
  
  @media only screen and (max-width: 650px) {
    .home {
      justify-content: center;
      align-items: center;
    }
/* 
    .headerContainer {
      margin-left: 0px;
      border-radius: 10px;
      padding: 10px;
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: #121619;
      color: white;
    }
   */
    .headerContainer h1 {
      position:absolute;
      top: 400px;
      left: 30px;
      font-size: 30px;
      height: 30px;
      color: white;
      position: absolute;
    }
  
  
  
    .headerContainer button {
      background-color: white;
      color: #121619;
      margin-bottom: 30px;
    }
  
    .headerContainer button:hover {
      background-color: rgb(225, 225, 225);
      color: #121619;
    }
  }
  