  .hero-image{
    height: 650px;
    overflow: hidden;
  }

  .hero-image img{
    width: 100vw;
    height: 700px;
  }
  
  .headerContainer h1 {
    position: absolute;
    top: 300px;
    left: 400px;
    font-size: 60px;
    font-weight: 150px;
    color: #fcfbf9ef;
  }
  
  .headerContainer button {
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    justify-content: center;
    background-color: #44635F;
    height: 50px;
    width: 180px;
    font-size: 30px;
    
  }

  .shopnow{
    position:absolute;
    right:    0;
    left: 0;
    bottom:  100px;
  }
  
  .headerContainer button:hover {
    background-color: #F3F0EB;
    color: #44635F;
    cursor: pointer;
    transition: 0.3s ease-in;
  }

  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .home {
    justify-content: center;
    align-items: center;
  }
  .headerContainer h1 {
    position:absolute;
    top: 350px;
    left: 25px;
    right: 25px;
    font-size: 30px;
    
  }
  .shopnow{
    position:absolute;
    right:    0;
    left: 0;
    bottom:  200px;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  .headerContainer h1 {
    position:absolute;
    top: 350px;
    left: 25px;
    right: 25px;
    font-size: 40px;
    
  }
  .shopnow{
    position:absolute;
    right:    0;
    left: 0;
    bottom:  200px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .headerContainer h1 {
    position:absolute;
    top: 350px;
    left: 25px;
    right: 25px;
    font-size: 50px;
    
  }
  .shopnow{
    position:absolute;
    right:    0;
    left: 0;
    bottom:  200px;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .headerContainer h1 {
    position:absolute;
    top: 350px;
    left: 25px;
    right: 25px;
    font-size: 50px;
    
  }
  .shopnow{
    position:absolute;
    right:    0;
    left: 0;
    bottom:  200px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .headerContainer h1 {
    position:absolute;
    top: 350px;
    left: 25px;
    right: 25px;
    font-size: 50px;
    
  }
  .shopnow{
    position:absolute;
    right:    0;
    left: 0;
    bottom:  100px;
  }
}