.product-info{
    color: #5E5959;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 50px 0px 50px;
    gap: 40px;
    text-align: left; 
}

.product-info img{
    width: 400px;
    height: 500px;
}

.card2{
    font-size: larger;
    
}

.btn{
    font-size:large;
    font-weight:bolder;
    margin: 20px;
    padding: 15px;
    border: none;
    border-radius: 20%;
    background-color: #B0C9CC;
    
}

.quantity{
   text-align: center;
   display: table-caption;
   
}

.addtocart{
    width: 300px;
    height: 60px;
    font-size:larger;
    font-weight:bolder;
    border-radius: 15px;
    background-color: #B0C9CC;
    border: none;
    color: #5E5959;
}

