.search-comp{
    height:90vh;
}
.searchbar{
    padding-top: 20vh;
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
}

.input-wrapper{
    background-color: #FCFBF9;
    border-radius: 10px;
    height: 2.5rem;
    padding: 0 15px;
    box-shadow: 0 0 8px #ddd;
    display: flex;
    align-items: center;
    width: 55%;
}

.searchbar input{
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: medium;
    width: 100%;
    margin-left: 5px;
    text-align: left;
}

input:focus{
    outline: none;
}

#search-icon{
    color: #44635F;
}

.searchresult{
    width: 60%;

    background-color: #FCFBF9;
    border-radius: 10px;
}

.searchresult-card img{
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.search-result-item{
    display: flex;
    align-items: center;

   
}