.cards{
    display: grid;
    align-items: center;
    grid-column: 2 / span 12;
    grid-template-columns: repeat(12, minmax(auto, 200px));
    width: 90%;
    grid-gap: 10px;
    place-items: center;
  }

  .skincard {
    grid-column-end: span 4;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    padding: 10px;
    background-color: #44635F;
    border-radius: 10px;
    width: 90%;
    color: #F3F0EB;
    align-items: center;
  }

 img {
    width: 402px;
    height: 200px;
  }